@font-face {
    font-family: 'squareNormal';
    src: url('../tipografia/square-721-bt.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'squareBold';
    src: url('../tipografia/square-721-bold.otf') format('opentype');
    font-style: bold;
    font-weight: bold;
}
h5{
    color: #939596;
    font-family: squareNormal;
    text-align: center;
    font-size: 18.4px;
    display: flex;
    align-items: center;
}
h3{
    font-family: 'squareNormal';
    text-align: center;
    color: #939596;
    display: flex;
    align-items: center;
    z-index: 1;
}
.mainContain{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e7edf3;
}
.mainContain .footer{
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #adadad;
    font-size: 0.8rem;
    z-index: 2;
}
.mainContain .footer .buttons{
    width: 100px;
    height: inherit;
    display: flex;
    right: 0;
    position: absolute;
}
.mainContain .footer .vrButton{
    background-image: url('../images/home/menu_vr.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 100%;
    margin: 0 10px;
}
.mainContain .footer .vrButton:hover{
    background-image: url('../images/home/menu_vr_press.png');
}
.mainContain .footer .audioButton{
    background-image: url('../images/home/menu_sound_on.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 100%;
    margin: 0 10px;
}
.mainContain .footer .audioButton:hover{
    background-image: url('../images/home/menu_sound_on_press.png');
}
.mainContain .footer .audioButton.off{
    background-image: url('../images/home/menu_sound_off.png');
}
.mainContain .footer .audioButton.off:hover{
    background-image: url('../images/home/menu_sound_off_press.png');
}
.vr{
    margin-top: 7px;
    margin-bottom: 5px;
    width: 2px;
    background-color: #adadad;
}
.mainContain .mainlogo{
    position: absolute;
    left: 15px;
    top: 15px;
    background-image: url('../images/home/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 70px;
    z-index: 1;
}
.mainContain .menu{
    background-image: url('../images/home/menu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}
.mainContain .menu:hover{
    background-image: url('../images/home/menu_press.png');
}

/* PopUp */
.plecaContain{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(0 0 0 / 30%);
    overflow: hidden;
    z-index: 10;
}
.plecaContain .contain{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 420px;
    max-width: 95%;
    max-height: 95%;
    padding: 20px;
    background-image: url(../images/home/popup/menu/patron.png);
    background-size: 8%;
    background-repeat: repeat;
    background-color: #eeece0;
    box-shadow: 0px 0px 15px 0px rgb(207 131 42 / 50%);
    border-radius: 20px;
    flex-direction: column;
}
.plecaContain .introduccion{
    /* display: none; */
}
.plecaContain .introduccion .comenzar{
    background-image: url('../images/home/popup/comenzar.png');
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
    width: 370px;
    height: 100px;
    flex-basis: 0;
    flex-grow: 1;
    margin-bottom: 8px;
}
.plecaContain .introduccion h5{
    flex-basis: 0;
    flex-grow: 2;
}
.plecaContain .introduccion h3{
    flex-basis: 0;
    flex-grow: 2;
}
.plecaContain .introduccion .comenzar:hover{
    background-image: url('../images/home/popup/comenzar_press.png');
}
.plecaContain .introduccion .comenzarVR{
    background-image: url('../images/home/popup/vr.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 110px;
    flex-basis: 0;
    flex-grow: 2;
}
.plecaContain .introduccion .comenzarVR:hover{
    background-image: url('../images/home/popup/vr_press.png');
}

.plecaContain .instrucciones{display: none;}
.plecaContain .instrucciones .img{
    flex-basis: 0;
    flex-grow: 3;
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    width: 270px;
    border: 2px solid #f2a433;
    height: 100%;
    box-sizing: border-box;
    background-position: center;
}
.plecaContain .instrucciones .img.ejemplo1{background-image: url('../images/home/popup/islas1.gif');}
.plecaContain .instrucciones .img.ejemplo2{background-image: url('../images/home/popup/islas2.gif');}
.plecaContain .instrucciones .entendido{
    background-image: url('../images/home/popup/entendido.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 80px;
    margin-bottom: 5px;
    flex-basis: 0;
    flex-grow: 1;
}
.plecaContain .instrucciones .entendido:hover{
    background-image: url('../images/home/popup/entendido_press.png');
}

/* MENUS */
.plecaContain .menus{display: none;}
.plecaContain .menus .opt{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    flex-grow: 1;
}
.plecaContain .menus .regresarIsla{
    background-image: url('../images/home/popup/menu/islas.png');
}
.plecaContain .menus .regresarIsla:hover{
    background-image: url('../images/home/popup/menu/islas_press.png');
}
.plecaContain .menus .salirVR{
    background-image: url('../images/home/popup/menu/salirvr.png');
}
.plecaContain .menus .salirVR:hover{
    background-image: url('../images/home/popup/menu/salirvr_press.png');
}
.plecaContain .menus .how{
    background-image: url('../images/home/popup/menu/how.png');
}
.plecaContain .menus .how:hover{
    background-image: url('../images/home/popup/menu/how_press.png');
}
.plecaContain .menus .instrucciones{
    background-image: url('../images/home/popup/menu/salirvr.png');
}
.plecaContain .menus .instrucciones:hover{
    background-image: url('../images/home/popup/menu/salirvr_press.png');
}
.plecaContain .menus .reiniciar{
    background-image: url('../images/home/popup/menu/reiniciar.png');
}
.plecaContain .menus .reiniciar:hover{
    background-image: url('../images/home/popup/menu/reiniciar_press.png');
}
.plecaContain .menus .acercade{
    background-image: url('../images/home/popup/menu/acerca.png');
}
.plecaContain .menus .acercade:hover{
    background-image: url('../images/home/popup/menu/acerca_press.png');
}
.plecaContain .menus .compartir{
    background-image: url('../images/home/popup/menu/compartir.png');
    background-size: 60%;
}
.plecaContain .menus .redes{
    display: flex;
    width: 80%;
}
.plecaContain .menus .redes * {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 5px;
}
.plecaContain .menus .redes .twiter{
    background-image: url('../images/home/popup/menu/twitter.png');
}
.plecaContain .menus .redes .twiter:hover{
    background-image: url('../images/home/popup/menu/twitter_press.png');
}
.plecaContain .menus .redes .facebook{
    background-image: url('../images/home/popup/menu/face.png');
}
.plecaContain .menus .redes .facebook:hover{
    background-image: url('../images/home/popup/menu/face_press.png');
}
.plecaContain .menus .redes .whatsapp{
    background-image: url('../images/home/popup/menu/whats.png');
}
.plecaContain .menus .redes .whatsapp:hover{
    background-image: url('../images/home/popup/menu/whats_press.png');
}
.plecaContain .menus .redes .compartir{
    background-image: url('../images/home/popup/menu/link.png');
}
.plecaContain .menus .redes .compartir:hover{
    background-image: url('../images/home/popup/menu/link_press.png');
}
.plecaContain .menus .cerrar{
    background-image: url('../images/home/popup/menu/cerrar.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: -16px;
}
.plecaContain .menus .cerrar:hover{
    background-image: url('../images/home/popup/menu/cerrar_press.png');
}
/* MENU INFERIOR */
.mainContain .bottomMenu{
    position: absolute;
    width: 100%;
    height: 160px;
    bottom: -85px;
    display: flex;
    transition: bottom 1s;
    flex-direction: column;
    align-items: center;
    display: none;
}
.mainContain .bottomMenu .fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/home/popup/menu/patron.png);
    background-size: 40px;
    background-repeat: repeat;
    background-color: #e4eaee;
    border-radius: 50% 50% 0 0;
    box-shadow: 0px 0px 95px 0px rgb(0 255 246 / 50%);
    border: 1px solid rgb(0 255 246);
    z-index: 1;
}
.mainContain .bottomMenu.open{
    bottom: 10px;
}
.mainContain .bottomMenu .boton{
    width: 95px;
    height: 62px;
    background-image: url(../images/home/popup/bottomMenu/abrir.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -4px;
    z-index: 3;
}
.mainContain .bottomMenu .boton:hover{
    background-image: url(../images/home/popup/bottomMenu/abrir_press.png);
}
.mainContain .bottomMenu.open .boton{
    background-image: url(../images/home/popup/bottomMenu/abierto.png);
}
.mainContain .bottomMenu.open .boton:hover{
    background-image: url(../images/home/popup/bottomMenu/abierto_press.png);
}
.mainContain .bottomMenu .lineaProgreso{
    width: 50%;
    height: 3px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}
.mainContain .bottomMenu .step{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/home/popup/bottomMenu/step.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
.mainContain .bottomMenu .step.active{
    background-image: url(../images/home/popup/bottomMenu/step_press.png);
}
hr{
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    margin: auto;
    width: 90%;
    border: 1px solid #99a2a3;
    opacity: 1;
}
/* PROGRESO GENERAL */
.mainContain .progresoGeneral{
    width: 20%;
    height: 120px;
    margin-left: 15px;
    position: absolute;
    bottom: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    font-family: 'squareNormal';
    z-index: 2;
}
.mainContain .progresoGeneral .progreso{
    color: #888b8b;
    font-family: 'squareNormal';
    font-size: 55px;
    display: flex;
    align-items: center;
    /* width: 60%; */
}
.mainContain .progresoGeneral .signo{
    color: #f2a433;
    display: flex;
    font-size: 55px;
    width: 40%;
    /* text-align: center; */
    align-items: center;
    justify-content: flex-start;
}
.mainContain .progresoGeneral .texto{
    color: #888b8b;
    margin-top: -24px;
    width: 100%;
}
@media (max-width: 750px), (max-height: 500px) {
    h5{
        font-size: 16px !important;
    }
    h3{
        font-size: 21px !important;
    }
    .plecaContain .introduccion .comenzar{
        width: 110%;
    }
    .plecaContain .introduccion .comenzarVR{
        width: 28%;
    }

    .plecaContain .instrucciones .entendido{
        height: 70px;
        margin-bottom: -15px;
    }

    .mainContain .progresoGeneral{
        width: 15%;
        bottom: 10px;
    }
    .mainContain .progresoGeneral .progreso{
    font-size: 30px;
    }
    .mainContain .progresoGeneral .signo{
        font-size: 30px;
    }
    .mainContain .progresoGeneral .texto{
        font-size: 25px;
        display: none;
    }
}